# Directories
__pycache__/
checkpoints/
processed/
tempaudio/
outputs/
Misc/
Old/
friday.egg-info/
models/

# Files
FRIDAY.png
environment.txt
requirements_frozen.txt
requirements_mark2.txt
Inference_LJSpeech.ipynb
MARK II.md
pytest.ini

# Audio files
*.wav

# Python
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE
.vscode/
.idea/
